<div class="hero fullheight">
    <div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="display-2">Welcome to Appartify</h1>
        </div>
        <div class="col-sm-4">
            <p>This will completely revamp your way of handling your cases. </p>
        </div>
    </div>
  </div>
</div>