<div class="static">
    <div class="container">
        <h1 class="display-2">What is Apartify?</h1>

        <div class="row">
            <div class="col col-md-6 col-sm-12">
                <h4>Living is not just eating, sleeping and working. At times things fail
                and if there is something than is worse than failing things, it is when they
                are not getting fixed.</h4>
                <p>
                    What Apartify is trying to do is to create a platform for easy communication between
                     the tenant and her landlord. But, we do not stop there. Because what happens after the contact has 
                     been initiated with the responder is what is really important. That is the void we intend to fill. Coming 
                     from a Customer Service background I know for a fact that commitment and follow-up is 
                     crucial for a good experience. That goes for housing as well.
                </p>
            </div>
            <div class="col col-md-6 col-sm-12">
                <h5>I am a Landlord</h5>
                <p>
                    You are in for a treat! 
                    Not only have you got a good platform for communication with your tenants. Now you will even be 
                    able to put your tenants in direct contact with your suppliers. Maybe that radiator needs to move 
                    and the requirments can come from the tenant? Let them do the talking - you will just sit by the side
                     and watch the problem get solved. You want to confirm any suggested changes? Of course, that is doable.
                </p>

                <h5>I am a Tenant</h5>
                <p>
                    The platform will place you as a tenant in a position where you can get a full overview of 
                    the progress of your case. Has the landlord pushed the case to someone? Is the commited deadline 
                    passed? Have you solved it yourself and want to close the case? - It is all there.
                </p>
            </div>
        </div>
    </div>
</div>