
.card{
    border: 0;
    border-radius: 10px;
    box-shadow: rgba(220, 220, 220, 0.6) 0px 0px 25px;
    .card-header{
        color: $indigo;
        background-color: #fff;
        font-weight: 600;
        font-size: 1.4rem;
        border: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        vertical-align: middle;
    }
}